<div class="container">
<div>Hot from the factory --> {{tc.onView}}<div>
<div>Array from factory --> {{tc.viewArray}}</div>

  <label>New Task</label>
  <input ng-model="tc.newTask.taskName">
  <button class="btn btn-info" ng-click="tc.addTask()">Add Task</button>

  <div class="table-responsive">

    <table class="table table-bordered">
      <thead>
      <th class="active">Task</th>
      <th class="active">Complete</th>
      <th class="active">Delete</th>
    </thead>

    <tbody>
      <tr ng-repeat="task in tc.taskList.list" ng-class="{complete: task.status, active: !task.status}">
        <!-- {{task.name}} and the id number is {{task.id}} -->
        <td class="active">{{task.name}}</td>
        <td class="active"><button class="btn btn-success" ng-click="tc.completeTask(task.id)" ng-hide="task.status">Complete</button></td>
        <td class="complete"><button class="btn btn-danger" ng-click="tc.deleteTask(task.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
