body {
  background-color: blueviolet;
}

.complete {
  color: tomato;
}

.active {
  color: SeaGreen;
}

h1 {
  color: dodgerblue;
  font-family: fantasy;
}

h2 {
  color: black;
  font-family: cursive;
}

p {
  color: black;
}

th {
  color: black;
}
